// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system
// ______________________________________

$color-scheme-alt: dark !default;

// items marked //** from https://bootswatch.com/darkly/
// items marked //~~ from https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129

$white-alt:    #fafafa !default;
$gray-100-alt: #e1e1e1 !default;  //~~
$gray-200-alt: #cfcfcf !default;  //~~
$gray-300-alt: #b1b1b1 !default;  //~~
$gray-400-alt: #9e9e9e !default;  //~~
$gray-500-alt: #7e7e7e !default;  //~~
$gray-600-alt: #626262 !default;  //~~
$gray-700-alt: #515151 !default;  //~~
$gray-800-alt: #3b3b3b !default;  //~~
$gray-900-alt: #222 !default;  //~~
$black-alt:    #111 !default;  //~~

// fusv-disable
$grays-alt: (
  "100": $gray-100-alt,
  "200": $gray-200-alt,
  "300": $gray-300-alt,
  "400": $gray-400-alt,
  "500": $gray-500-alt,
  "600": $gray-600-alt,
  "700": $gray-700-alt,
  "800": $gray-800-alt,
  "900": $gray-900-alt
) !default;
// fusv-enable

$blue-alt:    #375a7f !default;
$indigo-alt:  #673ab7 !default;  //~~
$purple-alt:  #654ea3 !default;  // Panatone CotY 2018
$pink-alt:    #e83e8c !default;
$red-alt:     #e74c3c !default;  //**
$orange-alt:  #fd7e14 !default;
$yellow-alt:  #f39c12 !default;  //**
$green-alt:   #00bc8c !default;  //**
$teal-alt:    #45b5aa !default;  // Panatone CotY 2010
$cyan-alt:    #17a2b8 !default;

// scss-docs-start colors-map
$colors-alt: (
  "blue":       $blue-alt,
  "indigo":     $indigo-alt,
  "purple":     $purple-alt,
  "pink":       $pink-alt,
  "red":        $red-alt,
  "orange":     $orange-alt,
  "yellow":     $yellow-alt,
  "green":      $green-alt,
  "teal":       $teal-alt,
  "cyan":       $cyan-alt,
  "white":      $white-alt,
  "gray":       #7e7e7e,  // $gray-600,
  "gray-dark":  #121212  //$gray-800
) !default;
// scss-docs-end colors-map

$primary-alt:       $blue-alt !default;
$secondary-alt:     $gray-600-alt !default;
$success-alt:       $green-alt !default;
$info-alt:          $cyan-alt !default;
$warning-alt:       $yellow-alt !default;
$danger-alt:        $red-alt !default;
$light-alt:         $gray-500-alt !default;
$dark-alt:          $gray-800-alt !default;

// scss-docs-start theme-colors-map
$theme-colors-alt: (
  "primary":    $primary-alt,
  "secondary":  $secondary-alt,
  "success":    $success-alt,
  "info":       $info-alt,
  "warning":    $warning-alt,
  "danger":     $danger-alt,
  "light":      $light-alt,
  "dark":       $dark-alt
) !default;
// scss-docs-end theme-colors-map

//// $color-contrast-dark-alt:      $white-alt !default;
/// $color-contrast-light-alt:     $black-alt !default;


// Gradient
// ______________________________________
// The gradient which is added to components if `$enable-gradients` is `true`
// This gradient is also added to elements with `.bg-gradient`
//// $gradient-alt: linear-gradient(180deg, rgba($white-alt, .15), rgba($white-alt, 0)) !default;


// Body
// ______________________________________
// Settings for the `<body>` element.

$body-bg-alt:                   $gray-900-alt !default;  // $white !default;
$body-color-alt:                $gray-100-alt !default;  // $gray-900 !default;


// Links
// ______________________________________
// Style anchor elements.

$link-color-alt:                              shift-color($primary-alt, -15%) !default;
$link-shade-percentage-alt:                   20% !default;  // TODO: should be -20%;
$link-hover-color-alt:                        tint-color($link-color-alt, $link-shade-percentage-alt) !default;  // TODO: shift-color


// Components
// ______________________________________
// Define common padding and border radius sizes and more.

$border-color-alt:                $gray-700-alt !default;

$box-shadow-alt:                  0 .5rem 1rem rgba($black-alt, .15) !default;
$box-shadow-sm-alt:               0 .125rem .25rem rgba($black-alt, .075) !default;
$box-shadow-lg-alt:               0 1rem 3rem rgba($black-alt, .175) !default;
$box-shadow-inset-alt:            inset 0 1px 2px rgba($black-alt, .075) !default;

$component-active-color-alt:      $white-alt !default;
$component-active-bg-alt:         $primary-alt !default;


// Typography
// ______________________________________
// Font, line-height, and color for body text, headings, and more.


$headings-color-alt:              null !default;

$text-muted-alt:                  $gray-600-alt !default;

$blockquote-footer-color-alt:     $gray-400-alt !default;

$hr-color-alt:                    inherit !default;  // TODO: how does this play out in dark mode?
$hr-opacity-alt:                  .25 !default;  // TODO: how does this play out in dark mode?

$mark-bg-alt:                     rgba($yellow-alt, .3) !default;


// Tables
// ______________________________________
// Customizes the `.table` component with basic values, each used across all table variations.

// scss-docs-start table-variables
$table-color-alt:                 $body-color-alt !default;
$table-bg-alt:                    transparent !default;

$table-striped-color-alt:         $table-color-alt !default;
$table-striped-bg-factor-alt:     .05 !default;
$table-striped-bg-alt:            rgba($black-alt, $table-striped-bg-factor-alt) !default;

$table-active-color-alt:          $table-color-alt !default;
$table-active-bg-factor-alt:      .1 !default;
$table-active-bg-alt:             rgba($black-alt, $table-active-bg-factor-alt) !default;

$table-hover-color-alt:           $table-color-alt !default;
$table-hover-bg-factor-alt:       .075 !default;
$table-hover-bg-alt:              rgba($black-alt, $table-hover-bg-factor-alt) !default;

$table-border-factor-alt:         .1 !default;
$table-border-color-alt:          $border-color-alt !default;

$table-group-separator-color-alt: currentColor !default;

$table-caption-color-alt:         $text-muted-alt !default;

$table-bg-scale-alt:              -80% !default;

$table-variants-alt: (
  "primary":    shift-color($primary-alt, $table-bg-scale-alt),
  "secondary":  shift-color($secondary-alt, $table-bg-scale-alt),
  "success":    shift-color($success-alt, $table-bg-scale-alt),
  "info":       shift-color($info-alt, $table-bg-scale-alt),
  "warning":    shift-color($warning-alt, $table-bg-scale-alt),
  "danger":     shift-color($danger-alt, $table-bg-scale-alt),
  "light":      $light-alt,
  "dark":       $dark-alt,
) !default;
// scss-docs-end table-variables


// Buttons + Forms
// ______________________________________
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-focus-color-opacity-alt: .25 !default;
$input-btn-focus-color-alt:         rgba($component-active-bg-alt, $input-btn-focus-color-opacity-alt) !default;
$input-btn-focus-box-shadow-alt:    0 0 0 $input-btn-focus-width $input-btn-focus-color-alt !default;


// Buttons
// ______________________________________
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-box-shadow-alt:              inset 0 1px 0 rgba($white-alt, .15), 0 1px 1px rgba($black-alt, .075) !default;
$btn-focus-box-shadow-alt:        $input-btn-focus-box-shadow-alt !default;
$btn-disabled-opacity-alt:        .65 !default;
$btn-active-box-shadow-alt:       inset 0 3px 5px rgba($black-alt, .125) !default;

$btn-link-color-alt:              $link-color-alt !default;
$btn-link-hover-color-alt:        $link-hover-color-alt !default;
$btn-link-disabled-color-alt:     $gray-600-alt !default;

$btn-hover-bg-shade-amount-alt:       15% !default;
$btn-hover-bg-tint-amount-alt:        15% !default;
$btn-hover-border-shade-amount-alt:   20% !default;
$btn-hover-border-tint-amount-alt:    10% !default;
$btn-active-bg-shade-amount-alt:      20% !default;
$btn-active-bg-tint-amount-alt:       20% !default;
$btn-active-border-shade-amount-alt:  25% !default;
$btn-active-border-tint-amount-alt:   10% !default;


// Forms
// ______________________________________

$form-text-color-alt:                       $text-muted-alt !default;

$form-label-color-alt:                      null !default;

$input-bg-alt:                              $gray-800-alt !default;
$input-disabled-bg-alt:                     $gray-900-alt !default;
$input-disabled-border-color-alt:           null !default;

$input-color-alt:                           $gray-300-alt !default;
$input-border-color-alt:                    $gray-700-alt !default;
$input-box-shadow-alt:                      $box-shadow-inset-alt !default;

$input-focus-bg-alt:                        $input-bg-alt !default;
$input-focus-border-color-alt:              tint-color($component-active-bg-alt, 50%) !default;
$input-focus-color-alt:                     $input-color-alt !default;
$input-focus-box-shadow-alt:                $input-btn-focus-box-shadow-alt !default;

$input-placeholder-color-alt:               mix($gray-600-alt, $gray-700-alt, 50%) !default;
$input-plaintext-color-alt:                 $body-color-alt !default;

$form-check-label-color-alt:                  null !default;

$form-check-input-active-filter-alt:          brightness(90%) !default;  // TODO: test

$form-check-input-bg-alt:                     $body-bg-alt !default;
$form-check-input-border-alt:                 1px solid rgba(255, 255, 255, .25) !default;
$form-check-input-focus-border-alt:           $input-focus-border-color-alt !default;
$form-check-input-focus-box-shadow-alt:       $input-btn-focus-box-shadow-alt !default;

$form-check-input-checked-color-alt:          $component-active-color-alt !default;
$form-check-input-checked-bg-color-alt:       $component-active-bg-alt !default;
$form-check-input-checked-border-color-alt:   $form-check-input-checked-bg-color-alt !default;
$form-check-input-checked-bg-image-alt:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color-alt}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>") !default;
$form-check-radio-checked-bg-image-alt:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color-alt}'/></svg>") !default;

$form-check-input-indeterminate-color-alt:          $component-active-color-alt !default;
$form-check-input-indeterminate-bg-color-alt:       $component-active-bg-alt !default;
$form-check-input-indeterminate-border-color-alt:   $form-check-input-indeterminate-bg-color-alt !default;
$form-check-input-indeterminate-bg-image-alt:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-indeterminate-color-alt}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>") !default;

$form-check-input-disabled-opacity-alt:        .5 !default;
$form-check-label-disabled-opacity-alt:        $form-check-input-disabled-opacity-alt !default;
$form-check-btn-check-disabled-opacity-alt:    $btn-disabled-opacity-alt !default;

$form-switch-color-alt:               rgba(255, 255, 255, .25) !default;
$form-switch-bg-image-alt:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-alt}'/></svg>") !default;

$form-switch-focus-color-alt:         $input-focus-border-color-alt !default;
$form-switch-focus-bg-image-alt:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color-alt}'/></svg>") !default;

$form-switch-checked-color-alt:       $component-active-color-alt !default;
$form-switch-checked-bg-image-alt:    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-checked-color-alt}'/></svg>") !default;

$input-group-addon-color-alt:               $input-color-alt !default;
$input-group-addon-bg-alt:                  $gray-800-alt !default;
$input-group-addon-border-color-alt:        $input-border-color-alt !default;

$form-select-color-alt:                 $input-color-alt !default;
$form-select-disabled-color-alt:        $gray-400-alt !default;
$form-select-bg-alt:                    $input-bg-alt !default;
$form-select-disabled-bg-alt:           $gray-800-alt !default;
$form-select-disabled-border-color-alt: $input-disabled-border-color-alt !default;
$form-select-indicator-color-alt:       $gray-200-alt !default;
$form-select-indicator-alt:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-alt}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>") !default;

$form-select-border-color-alt:        $input-border-color-alt !default;
$form-select-box-shadow-alt:          $box-shadow-inset-alt !default;

$form-select-focus-border-color-alt:  $input-focus-border-color-alt !default;
$form-select-focus-box-shadow-alt:    0 0 0 $form-select-focus-width $input-btn-focus-color-alt !default;

$form-range-track-bg-alt:             $gray-700-alt !default;
$form-range-track-box-shadow-alt:     $box-shadow-inset-alt !default;

$form-range-thumb-bg-alt:                      $component-active-bg !default;
$form-range-thumb-border-alt:                  0 !default;
$form-range-thumb-box-shadow-alt:              0 .1rem .25rem rgba($black-alt, .1) !default;
$form-range-thumb-focus-box-shadow-alt:        0 0 0 1px $body-bg-alt, $input-focus-box-shadow-alt !default;
$form-range-thumb-active-bg-alt:               tint-color($component-active-bg-alt, 70%) !default;
$form-range-thumb-disabled-bg-alt:             $gray-500-alt !default;

$form-file-button-color-alt:          $input-color-alt !default;
$form-file-button-bg-alt:             $input-group-addon-bg-alt !default;
$form-file-button-hover-bg-alt:       shade-color($form-file-button-bg-alt, 5%) !default;

$form-floating-label-opacity-alt:     .65 !default;

// Form validation

$form-feedback-valid-color-alt:         $success-alt !default;
$form-feedback-invalid-color-alt:       $danger-alt !default;

$form-feedback-icon-valid-color-alt:    $form-feedback-valid-color-alt !default;
$form-feedback-icon-valid-alt:          url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='#{$form-feedback-icon-valid-color-alt}' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>") !default;
$form-feedback-icon-invalid-color-alt:  $form-feedback-invalid-color-alt !default;
$form-feedback-icon-invalid-alt:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-invalid-color-alt}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-invalid-color}' stroke='none'/></svg>") !default;

// scss-docs-start form-validation-states
$form-validation-states-alt: (
  "valid": (
    "color": $form-feedback-valid-color-alt,
    "icon": $form-feedback-icon-valid-alt
  ),
  "invalid": (
    "color": $form-feedback-invalid-color-alt,
    "icon": $form-feedback-icon-invalid-alt
  )
) !default;
// scss-docs-end form-validation-states


// Navs

$nav-link-color-alt:                    null !default;
$nav-link-hover-color-alt:              null !default;
$nav-link-disabled-color-alt:           $gray-400-alt !default;

$nav-tabs-border-color-alt:             $gray-700-alt !default;
$nav-tabs-link-hover-border-color-alt:  $gray-800-alt $gray-800-alt $nav-tabs-border-color-alt !default;
$nav-tabs-link-active-color-alt:        $gray-300-alt !default;
$nav-tabs-link-active-bg-alt:           $body-bg-alt !default;
$nav-tabs-link-active-border-color-alt: $gray-700-alt $gray-700-alt $nav-tabs-link-active-bg-alt !default;

$nav-pills-link-active-color-alt:       $component-active-color-alt !default;
$nav-pills-link-active-bg-alt:          $component-active-bg-alt !default;


/*  !@#$%!@#$%!@#$%!@#$%!@#$%!@#$%!@#$%!@#$%!@#$%!@#$% ----- WIP PLACE HOLDER ----- !@#$%!@#$%!@#$%!@#$%!@#$%!@#$%!@#$%!@#$%!@#$%!@#$%


// Navbar

$navbar-padding-y:                  $spacer / 2 !default;
$navbar-padding-x:                  null !default;

$navbar-nav-link-padding-x:         .5rem !default;

$navbar-brand-font-size:            $font-size-lg !default;
// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   $font-size-base * $line-height-base + $nav-link-padding-y * 2 !default;
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base !default;
$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2 !default;
$navbar-brand-margin-end:           1rem !default;

$navbar-toggler-padding-y:          .25rem !default;
$navbar-toggler-padding-x:          .75rem !default;
$navbar-toggler-font-size:          $font-size-lg !default;
$navbar-toggler-border-radius:      $btn-border-radius !default;
$navbar-toggler-focus-width:        $btn-focus-width !default;
$navbar-toggler-transition:         box-shadow .15s ease-in-out !default;

$navbar-dark-color:                 rgba($white, .55) !default;
$navbar-dark-hover-color:           rgba($white, .75) !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, .25) !default;
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-dark-toggler-border-color:  rgba($white, .1) !default;

$navbar-light-color:                rgba($black, .55) !default;
$navbar-light-hover-color:          rgba($black, .7) !default;
$navbar-light-active-color:         rgba($black, .9) !default;
$navbar-light-disabled-color:       rgba($black, .3) !default;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: rgba($black, .1) !default;

$navbar-light-brand-color:                $navbar-light-active-color !default;
$navbar-light-brand-hover-color:          $navbar-light-active-color !default;
$navbar-dark-brand-color:                 $navbar-dark-active-color !default;
$navbar-dark-brand-hover-color:           $navbar-dark-active-color !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                10rem !default;
$dropdown-padding-x:                0 !default;
$dropdown-padding-y:                .5rem !default;
$dropdown-spacer:                   .125rem !default;
$dropdown-font-size:                $font-size-base !default;
$dropdown-color:                    $body-color !default;
$dropdown-bg:                       $white !default;
$dropdown-border-color:             rgba($black, .15) !default;
$dropdown-border-radius:            $border-radius !default;
$dropdown-border-width:             $border-width !default;
$dropdown-inner-border-radius:      subtract($dropdown-border-radius, $dropdown-border-width) !default;
$dropdown-divider-bg:               $dropdown-border-color !default;
$dropdown-divider-margin-y:         $spacer / 2 !default;
$dropdown-box-shadow:               $box-shadow !default;

$dropdown-link-color:               $gray-900 !default;
$dropdown-link-hover-color:         shade-color($gray-900, 10%) !default;
$dropdown-link-hover-bg:            $gray-200 !default;

$dropdown-link-active-color:        $component-active-color !default;
$dropdown-link-active-bg:           $component-active-bg !default;

$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-item-padding-y:           $spacer / 4 !default;
$dropdown-item-padding-x:           $spacer !default;

$dropdown-header-color:             $gray-600 !default;
$dropdown-header-padding:           $dropdown-padding-y $dropdown-item-padding-x !default;

$dropdown-dark-color:               $gray-300 !default;
$dropdown-dark-bg:                  $gray-800 !default;
$dropdown-dark-border-color:        $dropdown-border-color !default;
$dropdown-dark-divider-bg:          $dropdown-divider-bg !default;
$dropdown-dark-box-shadow:          null !default;
$dropdown-dark-link-color:          $dropdown-dark-color !default;
$dropdown-dark-link-hover-color:    $white !default;
$dropdown-dark-link-hover-bg:       rgba($white, .15) !default;
$dropdown-dark-link-active-color:   $dropdown-link-active-color !default;
$dropdown-dark-link-active-bg:      $dropdown-link-active-bg !default;
$dropdown-dark-link-disabled-color: $gray-500 !default;
$dropdown-dark-header-color:        $gray-500 !default;


// Pagination

$pagination-padding-y:              .375rem !default;
$pagination-padding-x:              .75rem !default;
$pagination-padding-y-sm:           .25rem !default;
$pagination-padding-x-sm:           .5rem !default;
$pagination-padding-y-lg:           .75rem !default;
$pagination-padding-x-lg:           1.5rem !default;

$pagination-color:                  $link-color !default;
$pagination-bg:                     $white !default;
$pagination-border-width:           $border-width !default;
$pagination-border-radius:          $border-radius !default;
$pagination-margin-start:           -$pagination-border-width !default;
$pagination-border-color:           $gray-300 !default;

$pagination-focus-color:            $link-hover-color !default;
$pagination-focus-bg:               $gray-200 !default;
$pagination-focus-box-shadow:       $input-btn-focus-box-shadow !default;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $link-hover-color !default;
$pagination-hover-bg:               $gray-200 !default;
$pagination-hover-border-color:     $gray-300 !default;

$pagination-active-color:           $component-active-color !default;
$pagination-active-bg:              $component-active-bg !default;
$pagination-active-border-color:    $pagination-active-bg !default;

$pagination-disabled-color:         $gray-600 !default;
$pagination-disabled-bg:            $white !default;
$pagination-disabled-border-color:  $gray-300 !default;

$pagination-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$pagination-border-radius-sm:       $border-radius-sm !default;
$pagination-border-radius-lg:       $border-radius-lg !default;

// Cards

$card-spacer-y:                     $spacer !default;
$card-spacer-x:                     $spacer !default;
$card-title-spacer-y:               $spacer / 2 !default;
$card-border-width:                 $border-width !default;
$card-border-radius:                $border-radius !default;
$card-border-color:                 rgba($black, .125) !default;
$card-inner-border-radius:          subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y:                $card-spacer-y / 2 !default;
$card-cap-padding-x:                $card-spacer-x !default;
$card-cap-bg:                       rgba($black, .03) !default;
$card-cap-color:                    null !default;
$card-height:                       null !default;
$card-color:                        null !default;
$card-bg:                           $white !default;

$card-img-overlay-padding:          $spacer !default;

$card-group-margin:                 $grid-gutter-width / 2 !default;

// Accordion
$accordion-padding-y:                     1rem !default;
$accordion-padding-x:                     1.25rem !default;
$accordion-color:                         $body-color !default;
$accordion-bg:                            transparent !default;
$accordion-border-width:                  $border-width !default;
$accordion-border-color:                  rgba($black, .125) !default;
$accordion-border-radius:                 $border-radius !default;

$accordion-body-padding-y:                $accordion-padding-y !default;
$accordion-body-padding-x:                $accordion-padding-x !default;

$accordion-button-padding-y:              $accordion-padding-y !default;
$accordion-button-padding-x:              $accordion-padding-x !default;
$accordion-button-color:                  $accordion-color !default;
$accordion-button-bg:                     $accordion-bg !default;
$accordion-transition:                    $btn-transition, border-radius .15s ease !default;
$accordion-button-active-bg:              tint-color($component-active-bg, 90%) !default;
$accordion-button-active-color:           shade-color($primary, 10%) !default;

$accordion-button-focus-border-color:     $input-focus-border-color !default;
$accordion-button-focus-box-shadow:       $btn-focus-box-shadow !default;

$accordion-icon-width:                    1.25rem !default;
$accordion-icon-color:                    $accordion-color !default;
$accordion-icon-active-color:             $accordion-button-active-color !default;
$accordion-icon-transition:               transform .2s ease-in-out !default;
$accordion-icon-transform:                rotate(180deg) !default;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;

// Tooltips

$tooltip-font-size:                 $font-size-sm !default;
$tooltip-max-width:                 200px !default;
$tooltip-color:                     $white !default;
$tooltip-bg:                        $black !default;
$tooltip-border-radius:             $border-radius !default;
$tooltip-opacity:                   .9 !default;
$tooltip-padding-y:                 $spacer / 4 !default;
$tooltip-padding-x:                 $spacer / 2 !default;
$tooltip-margin:                    0 !default;

$tooltip-arrow-width:               .8rem !default;
$tooltip-arrow-height:              .4rem !default;
$tooltip-arrow-color:               $tooltip-bg !default;

// Form tooltips must come after regular tooltips
$form-feedback-tooltip-padding-y:     $tooltip-padding-y !default;
$form-feedback-tooltip-padding-x:     $tooltip-padding-x !default;
$form-feedback-tooltip-font-size:     $tooltip-font-size !default;
$form-feedback-tooltip-line-height:   null !default;
$form-feedback-tooltip-opacity:       $tooltip-opacity !default;
$form-feedback-tooltip-border-radius: $tooltip-border-radius !default;


// Popovers

$popover-font-size:                 $font-size-sm !default;
$popover-bg:                        $white !default;
$popover-max-width:                 276px !default;
$popover-border-width:              $border-width !default;
$popover-border-color:              rgba($black, .2) !default;
$popover-border-radius:             $border-radius-lg !default;
$popover-inner-border-radius:       subtract($popover-border-radius, $popover-border-width) !default;
$popover-box-shadow:                $box-shadow !default;

$popover-header-bg:                 shade-color($popover-bg, 6%) !default;
$popover-header-color:              $headings-color !default;
$popover-header-padding-y:          .5rem !default;
$popover-header-padding-x:          $spacer !default;

$popover-body-color:                $body-color !default;
$popover-body-padding-y:            $spacer !default;
$popover-body-padding-x:            $spacer !default;

$popover-arrow-width:               1rem !default;
$popover-arrow-height:              .5rem !default;
$popover-arrow-color:               $popover-bg !default;

$popover-arrow-outer-color:         fade-in($popover-border-color, .05) !default;


// Toasts

$toast-max-width:                   350px !default;
$toast-padding-x:                   .75rem !default;
$toast-padding-y:                   .5rem !default;
$toast-font-size:                   .875rem !default;
$toast-color:                       null !default;
$toast-background-color:            rgba($white, .85) !default;
$toast-border-width:                1px !default;
$toast-border-color:                rgba(0, 0, 0, .1) !default;
$toast-border-radius:               $border-radius !default;
$toast-box-shadow:                  $box-shadow !default;
$toast-spacing:                     $container-padding-x !default;

$toast-header-color:                $gray-600 !default;
$toast-header-background-color:     rgba($white, .85) !default;
$toast-header-border-color:         rgba(0, 0, 0, .05) !default;


// Badges

$badge-font-size:                   .75em !default;
$badge-font-weight:                 $font-weight-bold !default;
$badge-color:                       $white !default;
$badge-padding-y:                   .35em !default;
$badge-padding-x:                   .65em !default;
$badge-border-radius:               $border-radius !default;


// Modals

// Padding applied to the modal body
$modal-inner-padding:               $spacer !default;

// Margin between elements in footer, must be lower than or equal to 2 * $modal-inner-padding
$modal-footer-margin-between:       .5rem !default;

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           $line-height-base !default;

$modal-content-color:               null !default;
$modal-content-bg:                  $white !default;
$modal-content-border-color:        rgba($black, .2) !default;
$modal-content-border-width:        $border-width !default;
$modal-content-border-radius:       $border-radius-lg !default;
$modal-content-inner-border-radius: subtract($modal-content-border-radius, $modal-content-border-width) !default;
$modal-content-box-shadow-xs:       $box-shadow-sm !default;
$modal-content-box-shadow-sm-up:    $box-shadow !default;

$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .5 !default;
$modal-header-border-color:         $border-color !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y:            $modal-inner-padding !default;
$modal-header-padding-x:            $modal-inner-padding !default;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-sm:                          300px !default;
$modal-md:                          500px !default;
$modal-lg:                          800px !default;
$modal-xl:                          1140px !default;

$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              none !default;
$modal-transition:                  transform .3s ease-out !default;
$modal-scale-transform:             scale(1.02) !default;


// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y:                   $spacer !default;
$alert-padding-x:                   $spacer !default;
$alert-margin-bottom:               1rem !default;
$alert-border-radius:               $border-radius !default;
$alert-link-font-weight:            $font-weight-bold !default;
$alert-border-width:                $border-width !default;

$alert-bg-scale:                    -80% !default;
$alert-border-scale:                -70% !default;
$alert-color-scale:                 40% !default;

$alert-dismissible-padding-r:       $alert-padding-x * 3 !default; // 3x covers width of x plus default padding on either side


// Progress bars

$progress-height:                   1rem !default;
$progress-font-size:                $font-size-base * .75 !default;
$progress-bg:                       $gray-200 !default;
$progress-border-radius:            $border-radius !default;
$progress-box-shadow:               $box-shadow-inset !default;
$progress-bar-color:                $white !default;
$progress-bar-bg:                   $primary !default;
$progress-bar-animation-timing:     1s linear infinite !default;
$progress-bar-transition:           width .6s ease !default;


// List group

$list-group-color:                  null !default;
$list-group-bg:                     $white !default;
$list-group-border-color:           rgba($black, .125) !default;
$list-group-border-width:           $border-width !default;
$list-group-border-radius:          $border-radius !default;

$list-group-item-padding-y:         $spacer / 2 !default;
$list-group-item-padding-x:         $spacer !default;
$list-group-item-bg-scale:          -80% !default;
$list-group-item-color-scale:       40% !default;

$list-group-hover-bg:               $gray-100 !default;
$list-group-active-color:           $component-active-color !default;
$list-group-active-bg:              $component-active-bg !default;
$list-group-active-border-color:    $list-group-active-bg !default;

$list-group-disabled-color:         $gray-600 !default;
$list-group-disabled-bg:            $list-group-bg !default;

$list-group-action-color:           $gray-700 !default;
$list-group-action-hover-color:     $list-group-action-color !default;

$list-group-action-active-color:    $body-color !default;
$list-group-action-active-bg:       $gray-200 !default;


// Image thumbnails

$thumbnail-padding:                 .25rem !default;
$thumbnail-bg:                      $body-bg !default;
$thumbnail-border-width:            $border-width !default;
$thumbnail-border-color:            $gray-300 !default;
$thumbnail-border-radius:           $border-radius !default;
$thumbnail-box-shadow:              $box-shadow-sm !default;


// Figures

$figure-caption-font-size:          $small-font-size !default;
$figure-caption-color:              $gray-600 !default;


// Breadcrumbs

$breadcrumb-font-size:              null !default;
$breadcrumb-padding-y:              0 !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding-x:         .5rem !default;
$breadcrumb-margin-bottom:          1rem !default;
$breadcrumb-bg:                     null !default;
$breadcrumb-divider-color:          $gray-600 !default;
$breadcrumb-active-color:           $gray-600 !default;
$breadcrumb-divider:                quote("/") !default;
$breadcrumb-divider-flipped:        $breadcrumb-divider !default;
$breadcrumb-border-radius:          null !default;

// Carousel

$carousel-control-color:             $white !default;
$carousel-control-width:             15% !default;
$carousel-control-opacity:           .5 !default;
$carousel-control-hover-opacity:     .9 !default;
$carousel-control-transition:        opacity .15s ease !default;

$carousel-indicator-width:           30px !default;
$carousel-indicator-height:          3px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer:          3px !default;
$carousel-indicator-opacity:         .5 !default;
$carousel-indicator-active-bg:       $white !default;
$carousel-indicator-active-opacity:  1 !default;
$carousel-indicator-transition:      opacity .6s ease !default;

$carousel-caption-width:             70% !default;
$carousel-caption-color:             $white !default;
$carousel-caption-padding-y:         1.25rem !default;
$carousel-caption-spacer:            1.25rem !default;

$carousel-control-icon-width:        2rem !default;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !default;
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !default;

$carousel-transition-duration:       .6s !default;
$carousel-transition:                transform $carousel-transition-duration ease-in-out !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)

$carousel-dark-indicator-active-bg:  $black !default;
$carousel-dark-caption-color:        $black !default;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100) !default;


// Spinners

$spinner-width:           2rem !default;
$spinner-height:          $spinner-width !default;
$spinner-border-width:    .25em !default;
$spinner-animation-speed: .75s !default;

$spinner-width-sm:        1rem !default;
$spinner-height-sm:       $spinner-width-sm !default;
$spinner-border-width-sm: .2em !default;


// Close

$btn-close-width:            1em !default;
$btn-close-height:           $btn-close-width !default;
$btn-close-padding-x:        .25em !default;
$btn-close-padding-y:        $btn-close-padding-x !default;
$btn-close-color:            $black !default;
$btn-close-bg:               url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$btn-close-color}'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>") !default;
$btn-close-focus-shadow:     $input-btn-focus-box-shadow !default;
$btn-close-opacity:          .5 !default;
$btn-close-hover-opacity:    .75 !default;
$btn-close-focus-opacity:    1 !default;
$btn-close-disabled-opacity: .25 !default;
$btn-close-white-filter:     invert(1) grayscale(100%) brightness(200%) !default;

// Code

$code-font-size:                    $small-font-size !default;
$code-color:                        $pink !default;

$kbd-padding-y:                     .2rem !default;
$kbd-padding-x:                     .4rem !default;
$kbd-font-size:                     $code-font-size !default;
$kbd-color:                         $white !default;
$kbd-bg:                            $gray-900 !default;

$pre-color:                         null !default;

*/
