node_modules
.cache
__*
_/*
!scss/**/_*
#package-lock.json
.DS_store

# don't GitHub the min's and TS typescript type information files (`.d`)

dist/css/**.min.**

dist/js/*.d.ts
dist/js/*.d.ts.map
dist/js/**.min.**
