@use "sass:map";

@each $color-scheme in $color-schemes {
  @include prefers-color-scheme($color-scheme) {
    @include generate-utility(map-get($utilities, "display"), "-#{$color-scheme}");
  }
}
