@mixin table-variant-alt($state, $background) {
  .table-#{$state} {
    $color: color-contrast(opaque($body-bg-alt, $background));
    $hover-bg: mix($color, $background, percentage($table-hover-bg-factor-alt));
    $striped-bg: mix($color, $background, percentage($table-striped-bg-factor-alt));
    $active-bg: mix($color, $background, percentage($table-active-bg-factor-alt));
    $border-color: mix($color, $background, percentage($table-border-factor-alt));

    --#{$prefix}table-color: #{$color};
    --#{$prefix}table-bg: #{$background};
    --#{$prefix}table-border-color: #{$border-color};
    --#{$prefix}table-striped-bg: #{$striped-bg};
    --#{$prefix}table-striped-color: #{color-contrast($striped-bg)};
    --#{$prefix}table-active-bg: #{$active-bg};
    --#{$prefix}table-active-color: #{color-contrast($active-bg)};
    --#{$prefix}table-hover-bg: #{$hover-bg};
    --#{$prefix}table-hover-color: #{color-contrast($hover-bg)};
  }
}
