
$enable-colors-hack: false !default;

@function rgba-css-var-alt($identifier, $target) {
  @if $enable-colors-hack {
    // @debug ">>> $enable-colors-hack = true";
    @return rgba(var(--#{$variable-prefix}#{$identifier}-rgb-alt), var(--#{$variable-prefix}#{$target}-opacity));
  }
  @else {
    // @debug ">>> $enable-colors-hack = false";
    // @return rgba(var(--#{$variable-prefix}#{$identifier}-rgb), var(--#{$variable-prefix}#{$target}-opacity));
    @return null;  // uses vars, so no need to re-declare
  }
}
