//
// Basic Bootstrap table
//

.table {
  --#{$prefix}table-color: #{$table-color-alt};
  --#{$prefix}table-bg: #{$table-bg-alt};
  --#{$prefix}table-border-color: #{$table-border-color-alt};
  --#{$prefix}table-accent-bg: #{$table-accent-bg-alt};
  --#{$prefix}table-striped-color: #{$table-striped-color-alt};
  --#{$prefix}table-striped-bg: #{$table-striped-bg-alt};
  --#{$prefix}table-active-color: #{$table-active-color-alt};
  --#{$prefix}table-active-bg: #{$table-active-bg-alt};
  --#{$prefix}table-hover-color: #{$table-hover-color-alt};
  --#{$prefix}table-hover-bg: #{$table-hover-bg-alt};
}

.table-group-divider {
  border-top: calc(2 * $table-border-width) solid $table-group-separator-color-alt; // stylelint-disable-line function-disallowed-list
}

//
// Table variants
//

@each $color, $value in $table-variants-alt {
  @include table-variant-alt($color, $value);
}
