.toast {
  --#{$prefix}toast-color: #{$toast-color-alt};
  --#{$prefix}toast-bg: #{$toast-background-color-alt};
  --#{$prefix}toast-border-color: #{$toast-border-color-alt};
  --#{$prefix}toast-box-shadow: #{$toast-box-shadow-alt};
  --#{$prefix}toast-header-color: #{$toast-header-color-alt};
  --#{$prefix}toast-header-bg: #{$toast-header-background-color-alt};
  --#{$prefix}toast-header-border-color: #{$toast-header-border-color-alt};
}
